<%- include('./partials/head.ejs') %> 
<%- include('./partials/header.ejs') %>

<main>
    <h1>Agregar producto</h1>
    <form action="/products/agregarProducto" method="POST" enctype="multipart/form-data">
        <div>
            <label for="">Nombre:</label>
            <input type="text" name="nombre" required>
        </div>
        <div>
            <label for="">Precio:</label>
            <input type="number" name="precio" required>
        </div>
        <div>
            <label for="">Categoria:</label>
           <select name="categoria" id="">
              <option value="acceso">Accesorios</option>
              <option value="calzado">Calzado</option>
            <option value="Indu">Indumentaria</option>
           </select>
        </div>
        <div>
            <label for="">Subcategoria:</label>
           <select name="subcategoria" id="">
              <option value="mujer">Mujer</option>
              <option value="hombre">Hombre</option>
            <option value="unisex">Unisex</option>
           </select>
        </div>

        <div>
            <label for="">Descripcion</label>
            <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
        </div>
        <div>

            Selecciona una imagen<input type="file" name="imageProduct">
        </div>
        <button type="submit">Agregar</button>
    </form>
</main>
<%- include('./partials/footer.ejs') %> 